{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Flourish-Plywood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Josefin+Sans|Josefin+Slab|Libre+Baskerville|Lobster|Lobster+Two|Montserrat|Nunito|Playfair+Display+SC|Poiret+One|Questrial|Quicksand|Roboto|Sanchez|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora|Quicksand|Roboto|Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Galada|Great+Vibes|Julius+Sans+One|Playball" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <link rel="icon" href="{% static '' %}website/images/brand.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style_c.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/welcome_1.css' %}">

    <!--  css begins -->

    <style type="text/css">


    </style>

    <!-- css end -->


</head>

 <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ba8efaa9d44382222fbf225/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<body>

<!-- navbar begins -->

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container-fluid topnav">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">
                  <img src="{% static '' %}website/images/Logo.png">
                </a>
            </div>
            
            <div class="collapse navbar-collapse navbar-right" id="mainNavbar">
                <ul class="nav navbar-nav" >
                  <li><a href="e-commerce.html" id="link">Home</a></li>
                  <li><a href="" id="link">About</a></li>
                  <li><a href="" id="link">Products</a></li>
                  <li><a href="" id="link">Contact</a></li>
                  <li><div class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></p>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'logout' %}" id="link">Logout</a></li>
                    </ul>
                  </div></li>
                </ul>
            </div>
        </div>
</nav>

<!-- navbar ends -->

  <img src="{% static '' %}website/images/2.jpg" alt="index image" id="inter">
  <h3 id="welcome_user">Welcome, {{ user.username }}</h3>

<!-- design panel -->

  <div class="panel panel-default container" id="design">
      <h3 id="start_design" align="center">Start Designing</h3>
      <img src="{% static '' %}website/images/underline.jpeg" id="underline" align="center"/>
      <p align="center" id="design_Quote">"Design is not just what it looks like and feels like.Design is how it works."</p>
      <div class="row">
          <div class="col-lg-offset-1 col-lg-5 cl-md-offset-1 col-md-5 col-sm-12 col-xs-12">
              <div class="panel panel-default" id="panel_room">
                  <img src="{% static '' %}website/images/6.jpg" id="img_bedroom">
                  <p id="head_livingroom" align="center">BedRoom</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default" id="panel_kitchen">
                  <img src="{% static '' %}website/images/4.jpg" id="img_kitchen">
                  <p id="head_kitchen" style="margin-left: 37%;">Kitchen</p>
              </div>
          </div>
      </div>
      <a href="{% url  'create_design' %}" style="text-decoration: none;"><button id="create_button" style="outline-style: none;">Create your own design</button></a>
  </div>
<!-- design panel ends -->

  <!-- footer -->

  <div class="container contact animated fadeIn">
        <div class="row ">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div>
              <a href="#"><i class="fa fa-envelope fa-2x"></i></a><br>
              <h4 id="icons">Mail us at</h4>
              <p id="contactLink">harishplywood@yahoo.co.in</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div>
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a><br>
                <h4 id="icons">Our Facebook Handle</h4>
                <p id="contactLink">https://www.facebook.com/flourish.net/</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div>
                <a href="#"><i class="fa fa-instagram fa-2x"></i></a><br>
                <h4 id="icons">Our Instagram Handle</h4>
                <p id="contactLink">https://www.instagram.com/flourishplywood/</p>
              </div>
          </div>
        </div>
    <a href="http://127.0.0.1:8000/user/" title="to the top"><i class="glyphicon glyphicon-chevron-up"></i></a>
  </div>

<!-- footer end -->

<script type="text/javascript" src="{% static 'website/js/e-commerce.js' %}"></script>

<!-- back button disabled -->

<script>
   history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>

<!-- script end -->

</body>
</html>
